/* general styles */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background: url('./assets/thunderbg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* end of general styles */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* sidebar styles */
.sidebar-section {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  filter: blur(0.5);
  /* padding: 2.5em 1.5em; */
}

.search-container {
  position: relative;
  padding-left: 1.5em;

}

input {
  background: none;
  padding: 20px;
  border: none;
  border-bottom: 1px solid rgb(77, 75, 75);
  margin-right: 10px;
  outline: none;
}

input[type] {
  color: #fff;
}

button {
  padding: 20px;
  background-color: rgb(228, 127, 33);
  border: none;
  outline: none;
  cursor: pointer;
}

.item {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1em;
}

.recently-searched {
  margin-top: 2.5em;
}

.showbtn {
  padding: 5px !important;
  margin-bottom: 10px;
}
.hidebtn {
  display: none;
}

.clearing {
  color: #fff;
  display: grid;
  place-items: center;
}

.divider {
  padding-right: 1.5em;
}

/* weather details */
.weather-display {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.weather-container {
  display: flex;
  align-items: center;
}

.temperature h1 {
  font-weight: 700;
  font-size: 5rem;
}

.city h4 {
  font-weight: 700;
  font-size: 1.5rem;
}